.header_top{
  max-height: 80px;
  line-height: 80px;

}
h1{
  font-weight: bold;
  color: white;
}
h2{
  font-weight: bold;
}

#text_small{
  font-size: 14px;
}
.text_blue{
  color: #0067FF;
}

.header_top img{
  max-height: 30px;
}
.header_top a{
  color: #031B4E;
}

.menu{
  color: #015CFF;
}
.btn_white{
  background-color: white;
  color: #0067FF;
  border-color: #0067FF;
}
.btn_blue{
  margin-top: 10px;
  width: 100%;
  background-color: #579AFF;
  font-weight: bold;
}
.btn_white_google{
  background-color: white;
  color:grey;
  font-weight: bold;
  border: 1px solid grey;
  box-shadow: 2px 2px lightgrey;
}
.btn_google{
  padding-right: 50px;
}

.google{
  padding-right: 30px;

}


.header_bottom{
background-color: #0067FF;
min-height: 350px;
line-height: 20px;
}
.header_bottom p{
  line-height: 30px;
  font-size: 24px;
}
.email{
  text-align: center;
  background-color: white;
  border-radius: 2%;
  margin: 20px auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.email > h3{
  font-weight: bold;
  margin-top: 5px;
  margin-bottom:5px;
}
.email input{
  display: inline-block;
  width: 100%;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border:1px solid lightgrey;
  border-radius: 3%;
}
.email button{
  width: 100%;
  border:0;
  margin-bottom: 10px;
}
.list_logo{
  text-align: center;
  background: #F3F5F9;
}
.list_logo h3{
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-top:0;
  padding-top: 15px;

}

.list_logo img{
  max-height: 50px;

}
.list_logo a{
  color:#0067FF;
}

#main_deploy h2,
a{
  text-align: center;
}

#main_deploy ul{
  list-style: none;
  font-size: 22px;
  line-height: 50px;
  margin-left: 15px;
  padding-left: 5px;
  border-left: 1px solid grey;

}
/* [class*="col-"]{
  text-align: left;
} */

#main_designed{
  text-align: center;
  background: #F3F5F9;
  margin:10px auto;
}
.container_60{
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.container_40{
  background: white;
  height: 300px;
  width: 50%;
  margin: 0 auto;
}
#main_designed img{
  max-width:300px;
  margin-top: 50px;
  margin-bottom: 50px;
}
#main_designed ul{
  margin-top: 25px;
}
.circle{
  width: 15px;
  height:15px;
  border: 1px solid blue;
  border-radius: 100%
}
.circle_blue{
  background: blue;
}

#main_features{
  text-align: center;
  margin-top: 10%;
}
#main_features img{
  margin-top: 20px;
}
#main_features a{
  font-size: 16px;
}

#main_gradient{
  margin-top: 10%;
  min-height: 200px;
  background-image: linear-gradient(#0040BD, #00229D);
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 25px;
}

#speed_test{
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid white;
}

.space{
  margin-top: 35px;
}

/* .row{
  margin-bottom:50px;
} */

#main_development{
  min-height: 450px;
  text-align: center;
  background-color: lightgrey;
}
#main_development h2{
  margin:0;
  padding-top: 20px;
  padding-bottom: 20px;
}


.container_40 {
  min-width: 360px;
  margin-bottom: 30px;
}
.container_40 img{
  max-width: 300px;
  margin: 20px;
}


#main_create{
  min-height: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: linear-gradient(#0040BD, #00229D);
}
#main_create h2{
  color: white;
}
