.header_top{
  min-height: 80px;
  line-height: 80px;

}
h1{
  font-weight: bold;
  color: white;
}
#text_small{
  font-size: 14px;
}
.text_blue{
  color: #0067FF;
}

.header_top img{
  max-height: 30px;
}
.header_top a{
  color: #031B4E;
}

.menu{
  color: #015CFF;
}
.btn_white{
  background-color: white;
  color: #0067FF;
  border-color: #0067FF;
}
.btn_blue{
  margin-top: 10px;
  width: 100%;
  background-color: #579AFF;
  font-weight: bold;
}
.btn_white_google{
  background-color: white;
  color:grey;
  font-weight: bold;
  border: 1px solid grey;
  box-shadow: 2px 2px lightgrey;
}

.header_bottom{
background-color: #0067FF;
min-height: 500px;
line-height: 20px;
}
.header_bottom p{
  font-size: 22px;
}
.email{
  text-align: center;
  background-color: white;
  border-radius: 2%;
  margin: 5px auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.email h3{
  font-weight: bold;
  margin-top: 5px;
  margin-bottom:5px;
}
.email input{
  display: inline-block;
  width: 100%;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border:1px solid lightgrey;
  border-radius: 3%;
}
.email button{
  width: 100%;
  border:0;
  margin-bottom: 10px;
}
